.banner-container {
  display: flex;
  flex-direction: column;
  background: #f5f6f8;
  padding-top: 1rem;
}
.ban-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-con {
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
.zimg {
  height: 40px;
  width: 50px;
}
.con1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vect {
  height: 50px;
  width: 150px;
}
.oracle {
  color: #d6460d;
  font-size: 20px;
}
.para {
  margin-left: 5px;
}
.sams {
  color: blue;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}
.quotes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
.left-main-con {
  display: flex;
  flex-direction: column;
}
.right-main-con {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 480px;
  background: #c4c4c4;
  border-radius: 12px;
  margin-top: 5rem;
}
.main-quote {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
  justify-content: center;
  align-items: center;
  transform: translate(26px, -25px);
}
.quote-icon {
  color: #fff;
}
.para {
  font-size: 14px;
  margin: 5px;
}
.na {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.card-container {
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
}
.cards {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 300px;
  width: 300px;
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 1px solid rgba(219, 228, 233, 1);
}

.ri-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.folder {
  color: #3734a9;
  font-size: 50px;
}
.card-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
.user-left {
  display: flex;
  flex-direction: column;
  background: #89acf2;
  height: 440px;
  width: 410px;
  border-radius: 12px;
}
.user-con1 {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 70px;
  width: 350px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.img-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.u-money {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 100px;
  border-radius: 16px;
  background: rgb(211, 197, 197);
  color: #3734a9;
}
.user-con2 {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 350px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  transform: translate(155px, 1px);
}
.user-con3 {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  height: 70px;
  width: 350px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  transform: translate(105px, 10px);
}

.user-con4 {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 70px;
  width: 350px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.user-right {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.ri-cont {
  display: flex;
  flex-direction: column;
}
.ri-cont::after {
  content: "";
  margin-top: 3rem;
  width: 100%;
  height: 0px;
  left: 0;
  top: 70%;
  border: 1px solid #581a1a;
  z-index: -1;
}
.ricircle {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.ri {
  display: flex;
}
.check-icon {
  background: #ffffff;
  color: orange;
  margin-right: 1rem;
}
.blue {
  color: #3734a9;
}
.m-con {
    display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-right: 9rem;
}
.m-con-left{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.m-cont-box{
    margin-right: 3rem;
    height: 500px;
    width: 460px;
    border-radius: 8px;
    background: #DBF1FA;
}
.credit{
 height: 590px;
 transform: translate(127px,-90px);
}
.m-cont-box-aside{
    transform: translate(-110px, -415px);
}
.new-container{
  padding: 2rem;
  background: rgba(201, 231, 242, 1);
}
.feature{
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
}
.new-card-con{
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;

}
.new-card-con1{
  display: flex;
  justify-content: space-around;
  width: 65%;
  
}
.new-card-con2{
display: flex;
flex-direction: column;
justify-content: space-around;

}
.new-card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 90px;
  width: 300px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2rem;
}
.testo-section{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  

}
.testo-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testo-box1{
  display: flex;
  width: 45%;
  height: 100%;
  margin-top: 3rem;
  border: 1px solid blanchedalmond;
  border-radius: 8px;
}
.testo-img{
  height: 250px;
  object-fit: cover;
}
.testo-heading{
  padding: 2rem;
}
.testo-icon{
  color: #fff;
}
.go-quote{
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
  justify-content: center;
  align-items: center;
  transform: translate(8px, -56px);

}
.blue-banner{
  display: flex;
  background: #3734a9;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.blue-banner-title::after{
  content: '';
  border-left: 1px solid black;
  height: 126px;
  position: absolute;
  transform: translate(323px,-73px);
}
.Blog-container{
  display: flex;
  flex-direction: column;
  padding: 3rem;

}
.blog-box1{
  display: flex;
  justify-content: space-between;
}
.blog-box2{
  display: flex;
  justify-content: space-between;

}
.blog-box2-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 2rem;
}
.blog-cont2{
  display: flex;
  flex-direction: column;
}
.blog-img-row{
  display: flex;
  height: 250px;
  width: 300px;
  flex-wrap: wrap;
}
.qna-section{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.qna-container{
  display: flex;
  justify-content: space-between;
}
.qna-row1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.qna1{
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 600px;
  border: 1px solid#CFCFCF;
  border-radius: 8px;
  padding: 1rem;  
}
.qna2{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 50px;
  width: 615px;
  border: 1px solid#CFCFCF;
  border-radius: 8px;
  padding-left: 1rem;  
  padding-bottom: 1.2rem;

}
.qna-row2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  width: 400px;
  padding: 2rem;
}
.qna-btn{
  display: flex;
  background: #FF7F5C;
  color: #ffffff;
  height: 60px;
  width: 380px;
  align-items: center;
  justify-content: center;
}
.discover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3734A9;
  height: 300px;
  margin: 3rem;
  border-radius: 16px;
  color: #ffffff;
}
.discover-btn{
  display: flex;
  background: #FF7F5C;
  color: #ffffff;
  height: 60px;
  width: 380px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

}
@media screen and (max-width: 891px){
  .main-con{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cards {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 350px;
    width: 300px;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
    border: 1px solid rgba(219, 228, 233, 1);
}
.user-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.right-main-con {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 578px;
  background: #c4c4c4;
  border-radius: 12px;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.m-con {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  padding-right: 9rem;
  flex-direction: column;
}
.m-cont-box {
  margin-right: 3rem;
  height: 500px;
  width: 460px;
  border-radius: 8px;
  background: #DBF1FA;
  margin-left: 7rem;
}
.new-card-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}
.new-card-con1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
}
.new-card-con2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}
.new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 90px;
  width: 262px;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
}
.blog-box2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.blog-box2-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2rem;
}
.qna-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qna-row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  width: 400px;
  padding: 2rem;
  margin-top: 3rem;
}
.zimg {
  height: 23px;
  width: 34px;
}
.blue-banner-title::after {
  content: '';
  border-left: 1px solid black;
  height: 126px;
  position: absolute;
  transform: translate(284px,-73px);
}
.blog-img{
  height: 300px;
  width: 250px;
}
.user-left {
  display: flex;
  flex-direction: column;
  background: #89acf2;
  height: 440px;
  width: 366px;
  border-radius: 12px;
}
.user-con1 {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 70px;
  width: 302px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 3%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 2%), 0px 20px 13px rgb(0 0 0 / 2%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 1%);
}
user agent stylesheet
div {
  display: block;
}
.user-con2 {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 285px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 3%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 2%), 0px 20px 13px rgb(0 0 0 / 2%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 1%);
  transform: translate(155px, 1px);
}
.user-con3 {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  height: 70px;
  width: 286px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 3%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 2%), 0px 20px 13px rgb(0 0 0 / 2%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 1%);
  transform: translate(105px, 10px);
}
.user-con4 {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 70px;
  width: 300px;
  border-radius: 15px;
  background: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 3%), 0px 64.8148px 46.8519px rgb(0 0 0 / 2%), 0px 38.5185px 25.4815px rgb(0 0 0 / 2%), 0px 20px 13px rgb(0 0 0 / 2%), 0px 8.14815px 6.51852px rgb(0 0 0 / 1%), 0px 1.85185px 3.14815px rgb(0 0 0 / 1%);
}
.testo-box1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  margin-top: 3rem;
  border: 1px solid blanchedalmond;
  border-radius: 8px;
  align-items: center;
}
}
@media screen  and (max-width:750px){
  .wh-credit {
    height: 600px;
    transform: translate(-36px, 4px);
}
.wh-img {
  height: 500px;
  transform: translate(-99px, 5px);
}
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
    margin: 0rem;
}
.quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
.cards {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 350px;
  width: 300px;
  margin-left: 1rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 1px solid rgba(219, 228, 233, 1);
}
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
new-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 90px;
  width: 199px;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
}
.cards {
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 350px;
  width: 258px;
  margin-left: 1rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 1px solid rgba(219, 228, 233, 1);
}
.di-con {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  transform: translate(118px, 210px);
}
.right-main-con {
    display: flex;
    flex-direction: column;
    height: 160px;
    width: 402px;
    background: #c4c4c4;
    border-radius: 12px;
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.main-con{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.con1{
  display: flex;
  padding: 2rem;
}
.oracle {
  display: flex;
  color: #d6460d;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.new-card-con1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 98%;
}
.new-card-con2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
  align-items: center;
}
.new-card {
  
  margin: 1rem;
}
.testo-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.blue-banner{
  display: flex;
  flex-direction: column;
}
.blue-banner-title::after{
  display: none;
}
.blog-box2-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 2rem;
}
.qna1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 480px;
  border: 1px solid#CFCFCF;
  border-radius: 8px;
  padding: 1rem;
}
.qna2 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 50px;
  width: 494px;
  border: 1px solid#CFCFCF;
  border-radius: 8px;
  padding-left: 1rem;
  padding-bottom: 1.2rem;
}
.blog-box1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3734A9;
  height: 300px;
  width: 80%;
  margin: 3rem;
  border-radius: 16px;
  color: #ffffff;
}
.m-con-left {
  display: flex;
  flex-direction: column;
  /* width: 22%; */
}
} 